In [1]:
import pandas as pd
from sklearn.datasets import load_digits
digits = load_digits()

In [2]:
from pandas import read_csv
data = read_csv('Dataset_7.1.csv', header=0, delimiter=';')

In [3]:
if 'ppnnr' in data:
	data = data.drop(['ppnnr'], axis='columns')
# if 'DatInfo' in data:
# 	data = data.drop(['DatInfo'],axis='columns')
# if 'Datbloed' in data:
# 	data = data.drop(['Datbloed'],axis='columns')
# if 'DatMRI' in data:
# 	data = data.drop(['DatMRI'],axis='columns')
# if 'Symp_Inf_code' in data:
# 	data = data.drop(['Symp_Inf_code'],axis='columns')	
#if 'Symp_Inf_aanw' in data:
#	data = data.drop(['Symp_Inf_aanw'], axis='columns')
#if 'PF4' in data:
#	data = data.drop(['PF4'], axis='columns')
#if 'MPO' in data:
#	data = data.drop(['MPO'], axis='columns')
#if 'fractalkine' in data:
#	data = data.drop(['fractalkine'], axis='columns')
#if 'B-TG' in data:
#	data = data.drop(['B-TG'], axis='columns')

In [4]:
data = data.dropna()
data.head()

,Group,geslacht,leeftijd,BMI,SBP,DBP,Hypertensie,DM,Hyperchol,Statine,...,MDRD,LDL,HDL,Trigly,Symp_Inf_aanw,Old_Inf_aanw,WMH_PVD_ext,PVS_BG_ext,PVS_CS_ext,MB_totaal_aanw
0,1,1,78,27.968016,147.5,83.5,0,0,1,1,...,0,1.9,1.2,1.95,1.0,1.0,1.0,1.0,1.0,0.0
1,1,2,65,22.656250,133.5,84.0,1,0,1,1,...,0,3.5,2.0,1.31,0.0,0.0,1.0,0.0,1.0,0.0
2,1,2,55,31.202564,182.0,113.0,1,0,1,1,...,0,1.9,1.8,2.03,1.0,0.0,0.0,0.0,1.0,0.0
3,1,1,46,32.824138,152.5,93.5,1,0,1,1,...,0,2.2,0.9,3.58,1.0,0.0,0.0,0.0,1.0,0.0
4,1,1,63,25.689562,140.0,82.5,0,0,1,1,...,0,1.9,1.7,0.93,0.0,1.0,0.0,0.0,1.0,0.0

In [5]:
data['Group'].replace({2: 1}, inplace=True)
data['Group'].replace({3: 2}, inplace=True)
data.head()
print(data['Group'].value_counts())

1    78
2    38
Name: Group, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data.drop(['Group'],axis='columns'),data['Group'],test_size=0.2)

In [16]:
from sklearn.preprocessing import MinMaxScaler
trans = MinMaxScaler()
X_train_enc = trans.fit_transform(X_train)
X_test_enc = trans.fit_transform(X_test)

In [25]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20, oob_score = True)
model.fit(X_train_enc, y_train)

RandomForestClassifier(n_estimators=20, oob_score=True)

In [26]:
print(model.oob_score_)

0.7608695652173914

In [27]:
model.score(X_test_enc, y_test)

0.7083333333333334

In [28]:
model.feature_importances_

array([0.0076858 , 0.04563094, 0.09188709, 0.05531254, 0.06919196,
       0.01723438, 0.00128348, 0.01298264, 0.02844455, 0.        ,
       0.02000663, 0.06660558, 0.07353244, 0.02288933, 0.07309343,
       0.06402294, 0.06548593, 0.05936147, 0.03326143, 0.15150547,
       0.02572701, 0.0113442 , 0.00351075])

In [29]:
import numpy as np

In [30]:
features = data.columns.values
#features = features[(features != 'Group') & (features != 'Symp_Inf_aanw')]
features = features[(features != 'Group')]
features

array(['geslacht', 'leeftijd', 'BMI', 'SBP', 'DBP', 'Hypertensie', 'DM',
       'Hyperchol', 'Statine', 'Perifeervaat', 'Roken', 'Gluc', 'Kreat',
       'MDRD', 'LDL', 'HDL', 'Trigly', 'Symp_Inf_aanw', 'Old_Inf_aanw',
       'WMH_PVD_ext', 'PVS_BG_ext', 'PVS_CS_ext', 'MB_totaal_aanw'],
      dtype=object)

In [31]:
import pandas as pd
coefficients = pd.DataFrame({'Feature': features, 'Weight':model.feature_importances_}, columns=['Feature', 'Weight'])

In [32]:
coefficients = coefficients.sort_values('Weight', ascending = False)
coefficients = coefficients.reset_index()
for i in range(len(coefficients.index)):
    print('Feature %s: %.5f' % (coefficients.at[i,'Feature'], coefficients.at[i,'Weight']))

Feature WMH_PVD_ext: 0.15151
Feature BMI: 0.09189
Feature Kreat: 0.07353
Feature LDL: 0.07309
Feature DBP: 0.06919
Feature Gluc: 0.06661
Feature Trigly: 0.06549
Feature HDL: 0.06402
Feature Symp_Inf_aanw: 0.05936
Feature SBP: 0.05531
Feature leeftijd: 0.04563
Feature Old_Inf_aanw: 0.03326
Feature Statine: 0.02844
Feature PVS_BG_ext: 0.02573
Feature MDRD: 0.02289
Feature Roken: 0.02001
Feature Hypertensie: 0.01723
Feature Hyperchol: 0.01298
Feature PVS_CS_ext: 0.01134
Feature geslacht: 0.00769
Feature MB_totaal_aanw: 0.00351
Feature DM: 0.00128
Feature Perifeervaat: 0.00000